.input-group {
  display: flex;
  align-items: center;
  width: 95%;

}

.input {
  min-height: 48px;
  /* max-width: 150px; */
  width: 75%;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 1px solid #1A73E8;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  width: 25%;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #1A73E8;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #33658A;
}

.input:focus, .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}
